{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords | join(',')}}{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores assumenda, doloremque ducimus maiores maxime sed similique sit soluta? Hic libero nihil odio porro quaerat quos sequi similique totam voluptatum?</p>
{% endblock %}